*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

h1 {
    font-size: 48px;
    font-weight : 100px;
}

h4 {
    font-size: 20px;
    font-weight: lighter;
}

.contents2 {
    font-size: 20px;
}

.contexts1 {
    color : black;
}

.contents1_bold{
    font-size: 18px;
    font-weight: bold;
    color : black;
}

.intro_bg{
    background-image: url("/image/배경이미지.jpg");
    background-size : cover; /*예은수정*/
    width: 100%;
    height: 695px;
}

.header {
    display: flex;
    width: 1280px;
    margin:auto;
    height: 86px;
}

.nav {
    justify-content: flex-end;
    display: flex;
    line-height: 86px;
    width:calc(1280px - 300px);
}

.nav > li {
    margin-left:84px;
}

.nav > li > a {
    color: black;
}

.list {
    position: relative;
    top:-66px;
    display: flex;
    width: 1280px;
    background: #fce6e6;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin: auto;
}

.list > li {
    flex: 1;
    height: 130px;
}

.list > li > div {
    text-align: center;
    margin-top: 30px;
    height:57px;
}

.intro_text {
    width: 100%;
    margin: 230px auto 500px auto;
    text-align: center;
    border-image: center;
}

.intro_text > img {
    margin: 0px;
    padding: 0px;
}

.intro_text > h1 > strong,
.intro_text > h4 {
    color : black;
}

.main_text1{
    width: 100%;
    height:300px;
    margin-top: 100px;
    background-color: white;
}

.main_text1 {
    width: 100;
    height: 659px;
}

.main_text1 > h1 {
    padding-top: 10px;
    text-align: center;
}

.main_text1 > .contents1 {
    text-align: center;
}

button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: pink;
    color: black;
    font-weight: bold;
}

button:hover{
    background-color: whitesmoke
}

button:active {
    background-color: palevioletred;
}

button:focus {
    background-color: plum;
}

.container > img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    display: flex;
    background: #fce6e6;
    color : white;
    padding: 30px;
}

footer > img {
    height : 70px;
    margin-left: auto;
}

footer > div:fist-child {
    flex:3;
    text-align: center;
    color: black;
}

#layer_popup{
    display: none;
}

#layer_popup + label {
    display: inline-block;
    margin-left: 10px;
    margin-top: 30px;
    padding: 7px 14px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 5px;
    background: #fce6e6;
    color: black;
    transition : all 300ms ease-in;
}

#layer_popup + label:hover {
    transform: scale(1.1);
    border: 2px solid palevioletred;
}

#layer_bg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 79, 123, 0.5)
}

#popup{
    position: absolute;
    padding: 50px 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    width: 600px;
    height: 400px;
    background: #fff;
    top: 40%; /*예은수정*/
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

#popup > h2{
    margin-bottom: 40px;
    font-size:30px;
    width: 104px;
    margin: 0 auto;
}

.inputs {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.inputs > h5 {
    font-size: 16px;
    margin-bottom: 10px;
    width : 200px;
}

.inputs > label {
    display: block;
    width: 100%;
    padding: 7px 0px;
    border: 1px solid #333333;
    border-radius: 10px;
}

.inputs > label > input {
    border: none;
    padding-left: 15px;
}

.inputs > label > input:focus {
    outline: none;
}
    
#popup > h2 > label{
    float: right;
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#layer_popup:checked + label + #layer_bg{
    display: block;
}

.inputs > .join_btn {
    width: 100%;
    height: 35px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}
  
.inputs > .join_btn:hover {
    background: #9c9c9c;
    color: white;
}